p
{
    font-size: larger;
}
body
{
    font-size: larger;
}
table, th, td
{
border:1px solid black;
}
th, td
{
padding: 8px;
text-align: center;
border-bottom: 1px solid #ddd;
font-size: large;
}
th
{
background-color: whitesmoke;
}
